<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Loja de Ração{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-background">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/agrocenter_logo.png') }}" 
                    alt="Logo" 
                    width="50" height="50" 
                    class="me-0">
            <a class="navbar-brand" href="/">AgrocenterJF</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/vendas">Vendas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/itens">Itens</a></li>
                    <li class="nav-item"><a class="nav-link" href="/relatorios">Relatórios</a></li>
                    <li class="nav-item"><a class="nav-link" href="/financeiro">Financeiro</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Mensagens flash -->
    <div class="container mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    </div>


    <!-- Conteúdo -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // desabilita em todos os forms
            document.querySelectorAll("form").forEach(form => {
            form.setAttribute("autocomplete", "off");
            });
            // desabilita em todos os inputs
            document.querySelectorAll("input").forEach(input => {
            input.setAttribute("autocomplete", "off");
            });
        });
    </script>
    <script>
        (function() {
            const navType = performance.getEntriesByType('navigation')[0]?.type || 'navigate';
            const hasQuery = window.location.search.length > 0;

            if (navType === 'reload' && hasQuery) {
            const urlSemQuery = window.location.origin + window.location.pathname;
            window.location.replace(urlSemQuery);
            }
        })();
    </script>
</body>
<footer class="text-center text-muted bg-light py-3 fixed-bottom">
    <small>© Agrocenter Comércio de Alimentos e Produtos Veterinários Ltda - Todos os direitos reservados.</small>
</footer>
</html>